cluster_scripts/**
**.ipynb_checkpoints
.neptune/**
.ipynb_checkpoints/**
**.ipynb
**/__pycache__/**
__pycache__/**
**.__pycache__**
**pyc**
**/pyc
pyc
**.pyc
**cpython**
**/cpython
cpython
**.cpython**
.neptune/**
animation/**
data/**
data/toy/**
eval_files/**
figures/**
log/**
models/**
old/**
scratch/**
best_mnist_img/**
img**
tmp/**
initial_code/**
PDMP/configs/old/**
initial_code/*
models/*
**.DS_Store