.ipynb_checkpoints
models/**
.neptune/**
**/__pycache__/**
**/__pycache__
__pycache__
**__pycache__**
log/**
eval_files/**
old/**
**.pyc
data/c**
data/M**
data/m**
data/tiny**
data/toy/**.tar**
log/**
eval_files/**
old/**
scratch/**
figures/**
./*.png
./*.jpg